<p class="h2">Split Cost Across Multiple Accounts</p>
<hr />

<section id="multiple-mfks-group" class="flex flex-column">
  <div class="font-weight-bold">MFK(s)</div>
  <div id="mfk-lines">
    <div
      *ngFor="let item of accounts"
      class="d-flex align-items-end justify-content-between mfk-line"
    >
      <uiowa-mfk-input [(mfk)]="item.mfk"></uiowa-mfk-input>
      <div class="percentage-field ml-auto">
        <p class="percentage-label">Percentage</p>
        <div class="input-group" style="max-width: 4.25rem; min-width: 4.25rem">
          <input
            type="text"
            class="form-control text-right"
            style="padding: 0.375rem"
            aria-label="percentage"
            digitOnly
            max="100"
            min="1"
            [(ngModel)]="item.percentage"
            (ngModelChange)="updateTotal()"
          />
          <div class="input-group-append">
            <span class="input-group-text" style="padding: 0.375rem">%</span>
          </div>
        </div>
      </div>
      <div class="remove-btn">
        <button
          type="button"
          class="btn btn-outline-warning text-danger"
          title="Remove this MFK"
          (click)="removeMfk(item.id)"
          *ngIf="accounts.length > 1"
        >
          X
        </button>
      </div>
    </div>
  </div>
  <div
    class="d-flex justify-content-between align-items-center mt-2"
    style="border-top: 3px solid black"
  >
    <button id="addBtn" type="button" class="btn btn-link" (click)="addMfk()">
      Add an MFK
    </button>
    <div>
      <span class="font-weight-bold"> Total:</span>
      <div
        class="d-inline-block text-right"
        style="width: 4.25rem; margin-right: 3rem"
        [ngClass]="{ 'text-danger font-weight-bold': total != 100 }"
      >
        <span style="padding: 0.375rem">{{ total }}</span>
        <span style="padding: 0.375rem">%</span>
      </div>
    </div>
  </div>
</section>

<section class="my-2">
  <button
    id="saveBtn"
    type="button"
    class="btn btn-primary"
    [disabled]="total != 100"
    (click)="open(confirmModal)"
  >
    Save Accounts
  </button>
  <div *ngFor="let item of errorMsgs" class="text-danger">
    {{ item }}
  </div>
</section>

<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirm Accounts</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <section id="results" class="overflow-auto" style="max-height: 300px">
      Accounts:
      <pre class="bg-light">{{ accounts | json }}</pre>
    </section>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark mr-2"
      (click)="modal.close()"
    >
      No. I changed my mind.
    </button>
    <button
      id="confirmBtn"
      type="button"
      [disabled]="busy"
      class="btn btn-primary"
      (click)="save()"
    >
      Yes. I confirm.
    </button>
  </div>
</ng-template>
