<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <div class="d-flex flex-column">
        <h2>Default MFK input</h2>
        <uiowa-mfk-input [(mfk)]="mfk1"></uiowa-mfk-input>
        <div>
          MFK:
          <uiowa-mfk-string [mfk]="mfk1"></uiowa-mfk-string>
        </div>
      </div>

      <hr class="my-5" />

      <div class="d-flex flex-column">
        <h2>MFK input with a readonly field</h2>
        <uiowa-mfk-input [(mfk)]="mfk2" [options]="options1"></uiowa-mfk-input>
        <div>
          MFK:
          <uiowa-mfk-string [mfk]="mfk2"></uiowa-mfk-string>
        </div>
      </div>

      <hr class="my-5" />

      <div class="d-flex flex-column">
        <h2>MFK input with options</h2>
        <div class="form-inline mb-3">
          <div class="mr-sm-2">
            <select class="custom-select" [(ngModel)]="field" name="field">
              <option value="">Select an MFK field</option>
              <option *ngFor="let item of mfkFields" [ngValue]="item">
                {{ item }}
              </option>
            </select>
          </div>
          <div class="mr-sm-2">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="defaultValue"
              placeholder="default value"
            />
          </div>
          <div class="mr-sm-2">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="reonly"
                [(ngModel)]="isReadonly"
              />
              <label class="custom-control-label" for="reonly">ReadOnly?</label>
            </div>
          </div>
          <div class="mr-sm-2">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="brf"
                [(ngModel)]="withBrf"
              />
              <label class="custom-control-label" for="brf">With BRF?</label>
            </div>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-primary mr-2" (click)="set()">
            Set
          </button>
          <button type="button" class="btn btn-secondary" (click)="reset()">
            Reset
          </button>
        </div>
        <uiowa-mfk-input [(mfk)]="mfk3" [options]="options"></uiowa-mfk-input>
        <div>
          MFK:
          <uiowa-mfk-string [mfk]="mfk3"></uiowa-mfk-string>
        </div>
        <div>
          <pre>{{ options | json }}</pre>
        </div>
      </div>

      <hr class="my-5" />

      <hr class="my-5" />

      <div class="d-flex flex-column">
        <h2>MFK input with a default field</h2>
        <uiowa-mfk-input [(mfk)]="mfk5" [options]="options5"></uiowa-mfk-input>
        <div>
          MFK:
          <uiowa-mfk-string [mfk]="mfk5"></uiowa-mfk-string>
        </div>
      </div>

      <hr class="my-5" />

      <div class="d-flex flex-column">
        <h2>MFK input with a readonly field</h2>
        <uiowa-mfk-input [(mfk)]="mfk6" [options]="options6"></uiowa-mfk-input>
        <div>
          MFK:
          <uiowa-mfk-string [mfk]="mfk6"></uiowa-mfk-string>
        </div>
        <div>
          <button type="button" class="btn btn-primary" (click)="update()">
            Update
          </button>
        </div>
      </div>

      <hr class="my-5" />
      <a title="github" href="https://github.com/changhuixu/uiowa-mfk-project"
        >GitHub Repo</a
      >
      <hr class="my-5" />
    </div>
  </div>
</div>
