:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab {
  border: 1px solid #efe3ff;
  background-color: #fcfaff;
}

.tab a {
  color: #0049b5 !important;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  transition: 0.3s;
  font-weight: 600;
  text-decoration: none;
}

.tab a:hover,
.tab a.active {
  background-color: #f4dcff;
}
