.favorite-field {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
  margin-right: 0.5rem;
}

.favorite-label {
  margin-bottom: 0;
  white-space: nowrap;
  font-size: 0.625rem;
}

.favorite-field button {
  padding: 6px 0.5rem;
  border: 1px solid #dddddd;
}

.favorite-field button .active {
  color: #f0ad4e;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: bottom;
}

.favorite-field button .inactive {
  color: #867e71;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: bottom;
}
.favorite-field button:hover .inactive {
  color: #f0ad4e;
}

.favorite-dropdown-menu {
  display: block;
  transform: translate(0, 38px);
}
